body{
    box-sizing: border-box;
    background-image: url(../img/hearts.jpg);
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    margin-top: 550px;
}
.text{
    font-family: 'Kurale', serif;
    font-size: 32px;
}
/* font-family: 'Kurale', serif;
font-family: 'Noto Sans Kawi', sans-serif; */
.photo1{
    width: 896px;
    height: 504px;
    position: absolute;
    left: 750px;
    top: 25px;
}
.photo2{
    width: 700px;
    height: 504px;
    position: absolute;
    top: 529px;
}
.photo3{
    width: 700px;
    height: 504px;
    position: absolute;
    top: 554px;
}
.photo4{
    width: 700px;
    height: 504px;
    position: absolute;
    top: 25px;
    left: 25px;}
.photo5{
    position: absolute;

}
.photo6{
    position: absolute;

}
/* .photos{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
} */