body{
    box-sizing: border-box;
    background-image: url(../img/hearts.jpg);
    background-color: black;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    margin-top: 550px;
}
.main{
    padding-bottom: 1000px;
}
.text{
    font-family: 'Kurale', serif;
    font-size: 32px;
    color: rgb(139, 0, 125);
}
.jaja{
    padding: 30px;
    background-color: pink;
    box-shadow: 30px 30px 30px 4px rgb(142, 40, 131);
}
/* font-family: 'Kurale', serif;
font-family: 'Noto Sans Kawi', sans-serif; */
.photo1{
    width: 896px;
    height: 504px;
    position: absolute;
    left: 800px;
    top: 25px;
}
.photo2{
    width: 700px;
    height: 504px;
    position: absolute;
    top: 25px;
    right: 25px;
}
.photo3{
    width: 700px;
    height: 504px;
    position: absolute;
    right: 300px;
    top: 1267px;
}
.photo4{
    width: 700px;
    height: 504px;
    position: absolute;
    top: 25px;
    left: 25px;
}
.photo5{
    width: 504px;
    position: absolute;
    right: 25px;
}
.photo6{
    width: 504px;
    position: absolute;
    left: 25px;
}
.photo7{
    width: 700px;
    height: 504px;
    position: absolute;
    left: 300px;
    top: 1267px;
}
/* .photos{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
} */